.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: default;
  }
  
  .modal {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    width: 77%; 
    max-width: 1480px; 
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 810px; /* 設定最大高度 */
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: default;
    display: flex;
    justify-content: center; /* 將整體置中 */
  }

  .label {
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 500;
    color: #5F5F5F;
    width: 100%; /* 確保 label 的寬度與輸入欄一致 */
    text-align: left;
  }

  .publiclabel {
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 500;
    color: #5F5F5F;
    width: 100%; /* 確保 label 的寬度與輸入欄一致 */
    text-align: right;
    padding-right: 20px;
  } 
  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 802px;
    padding-top: 59.5px;
  }
  
  .inputField, .textareaField {
    width: 100%; 
    max-width: 802px; 
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 48px; /* 設定最大高度 */
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'ABeeZee', sans-serif;
    background-color: #f5f5f5;
  }
  .selectField {
    width: 100%; 
    max-width: 661px; 
    min-width: 500px;
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 48px; /* 設定最大高度 */
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'ABeeZee', sans-serif;
    background-color: #f5f5f5;
  }

  .dateField {
    width: 100%; 
    max-width: 180px; 
    height: 100%; /* 設定高度為視窗的 60% */
    max-height: 48px; /* 設定最大高度 */
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'ABeeZee', sans-serif;
    background-color: #f5f5f5;
  }

  .textareaField {
    resize: vertical;
    height: 80px;
  }
  
  .storeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .deadlineContainer {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .dateField {
    width: calc(25% - 10px);
    text-align: center;
  }

  .uploadAndPublicContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .uploadButton {
    width: 100%;
    max-width: 223px; 
    height: 85%; 
    max-height: 33px;
    padding: 12px;
    font-size: 1rem;
    background-color: #B3B3B3;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'ABeeZee', sans-serif;
    padding-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .fileInput {
    display: none;
  }
  .createButton {
    width: 100%;
    max-width: 230px;
    max-height: 40px;
    align-items: center;
    padding: 12px;
    font-size: 1rem;
    background-color: #0D99FF;
    color: white;
    border: none;
    font-family: 'ABeeZee', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
  
  .publicContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .checkbox {
    width: 24px;
    height: 24px;
  }

  .checkbox2 {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }

  .othersContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .createButton:hover {
    background-color: #0056b3;
  }
  
  .uploadButton:hover {
    background-color: #5a6268;
  }
