  .label {
    max-width: 520px;
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 48px; /* 設定最大高度 */
    padding: 12px;
    /* margin-bottom: 48px; */
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 500;
    color: #5F5F5F;
    text-align: left;
    margin-right: auto; /* 靠左對齊 */
  }
