.component2.component2 {
  left: 9px;    /* 11px * 0.8 */
  top: 9px;     /* 11px * 0.8 */
  width: 31px;  /* 39px * 0.8 */
  height: 31px;
}
.icon {
  width: 100%;
  height: 100%;
}
.component6.component6 {
  width: initial;
  align-self: stretch;
}
.create, .create2, .create3 {
  font-size: 16px; /* 20px * 0.8 */
  line-height: 18px; /* 22px * 0.8 */
  color: #fff;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.component5.component5 {
  width: initial;
  align-self: stretch;
}
.component7.component7 {
  width: initial;
  align-self: stretch;
}
.component8.component8 {
  left: 11px;   /* 14px * 0.8 */
  top: 11px;    /* 14px * 0.8 */
  width: 26px;  /* 32px * 0.8 */
  height: 26px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 180px; /* 225px * 0.8 */
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 19px;    /* 24px * 0.8 */
  padding: 13px 6px; /* 16px * 0.8, 8px * 0.8 */
  overflow: hidden;
  z-index: 1000;
}
.frame34 {
  width: 48px; /* 60px * 0.8 */
  height: min-content;
  flex-direction: column;
}
.unnamed {
  position: relative;
  height: 49px; /* 61px * 0.8 */
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 9px; /* 11px * 0.8 */
  border-radius: 131px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 7.1px 0px #00000040;
}
.unnamed2 {
  position: relative;
  width: 48px;  /* 60px * 0.8 */
  height: 48px; /* 60px * 0.8 */
  flex-direction: column;
  align-items: flex-start;
  border-radius: 131px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 7.1px 0px #00000040;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  width: 70%; /* Adjust width to make the background smaller */
  height: 90%; /* Adjust height to make the background smaller */
  max-width: 1600px; /* Adjust max-width */
  max-height: 900px; /* Adjust max-height */
  background: transparent; /* Change background color to transparent */
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* When showing Status modal */
.modalContent.status {
  max-width: 1920px;
  max-height: 1080px;
}
