.component1.component1 {
  left: 83.75%;
  right: 15%;
  top: 45.9259%;
  bottom: 51.8519%;
  width: initial;
  height: initial;
}
.component2.component2 {
  left: 10.5px;
  top: 10.5px;
  width: 39px;
  height: 39px;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 1920px;
  height: 1080px;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #f8fcffff 0%, #e4ecedff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo {
  position: absolute;
  left: 50%;
  top: 68px;
  width: 330px;
  height: 220px;
  flex-direction: column;
  align-items: center;
  padding: 60px 33px;
  overflow: hidden;
  transform: translateX(-50%);
}
.logo21 {
  position: absolute;
  left: calc(50% - 23.2182px);
  top: calc(50% - 30.1857px);
  width: 232.6678px;
  height: 127.4892px;
  background-image:/* webpackIgnore: true */ url('/assets/logo21.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.logo31 {
  position: absolute;
  left: calc(50% - 4.7623px);
  top: calc(50% - -69.0718px);
  width: 221.0935px;
  height: 44.9022px;
  background-image:/* webpackIgnore: true */ url('/assets/logo31.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.SearchBar {
  position: absolute;
  left: 50%;
  top: 331px;
  width: 1400px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  padding: 24px 14px;
  transform: translateX(-50%);
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
}
.magnify {
  width: 32px;
  height: 32px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.placeholderLabel {
  color: #3c3c4399;
  font-size: 32px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: 100px;
  height: min-content;
  flex-direction: column;
}
._2 {
  position: absolute;
  left: 280px;
  top: 919px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.unsplashZBSJ57K0Vcg {
  position: absolute;
  left: -16.292px;
  top: -28px;
  width: 432.5845px;
  height: 268px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashZBSJ57K0Vcg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._666StirFried {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._310ForBuying {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group2 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._45 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame5 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
._22 {
  position: absolute;
  left: 280px;
  top: 1757px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.unsplashZBSJ57K0Vcg2 {
  position: absolute;
  left: -16.292px;
  top: -28px;
  width: 432.5845px;
  height: 268px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashZBSJ57K0Vcg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._666StirFried2 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._310ForBuying2 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group22 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
._452 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame52 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join2 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information2 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
._23 {
  position: absolute;
  left: 280px;
  top: 2595px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.unsplashZBSJ57K0Vcg3 {
  position: absolute;
  left: -16.292px;
  top: -28px;
  width: 432.5845px;
  height: 268px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashZBSJ57K0Vcg3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._666StirFried3 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._310ForBuying3 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group23 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
._453 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame53 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join3 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information3 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
._3 {
  position: absolute;
  left: 50%;
  top: 919px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
  transform: translateX(-50%);
}
.yummyFood {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._26ForBuying {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 36px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 56px;
  bottom: 15.9999px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 76px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 96px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
._49 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame54 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join4 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashHatqfX3b9Vo {
  position: absolute;
  left: -10.6741px;
  top: -52.778px;
  width: 433.126px;
  height: 288.778px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashHatqfX3b9Vo.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information4 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
._32 {
  position: absolute;
  left: 50%;
  top: 1757px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
  transform: translateX(-50%);
}
.yummyFood2 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._26ForBuying2 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector6 {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 36px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 56px;
  bottom: 15.9999px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.vector9 {
  position: absolute;
  left: 76px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.vector10 {
  position: absolute;
  left: 96px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
._492 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame55 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join5 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashHatqfX3b9Vo2 {
  position: absolute;
  left: -10.6741px;
  top: -52.778px;
  width: 433.126px;
  height: 288.778px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashHatqfX3b9Vo2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information5 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon20 {
  width: 100%;
  height: 100%;
}
._33 {
  position: absolute;
  left: 50%;
  top: 2595px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
  transform: translateX(-50%);
}
.yummyFood3 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._26ForBuying3 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector11 {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.vector12 {
  position: absolute;
  left: 36px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.vector13 {
  position: absolute;
  left: 56px;
  bottom: 15.9999px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.vector14 {
  position: absolute;
  left: 76px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.vector15 {
  position: absolute;
  left: 96px;
  bottom: 16px;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
._493 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame56 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join6 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashHatqfX3b9Vo3 {
  position: absolute;
  left: -10.6741px;
  top: -52.778px;
  width: 433.126px;
  height: 288.778px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashHatqfX3b9Vo3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information6 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon26 {
  width: 100%;
  height: 100%;
}
._4 {
  position: absolute;
  left: 1240px;
  top: 919px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.niceDrink {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group24 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
._43 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame57 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join7 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashJcLcWL8D7AQ {
  position: absolute;
  left: -9.1809px;
  top: -37px;
  width: 440.4597px;
  height: 273px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashJcLcWL8D7AQ.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information7 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon28 {
  width: 100%;
  height: 100%;
}
._42 {
  position: absolute;
  left: 1240px;
  top: 1757px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.niceDrink2 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying2 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group25 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon29 {
  width: 100%;
  height: 100%;
}
._432 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame58 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join8 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashJcLcWL8D7AQ2 {
  position: absolute;
  left: -9.1809px;
  top: -37px;
  width: 440.4597px;
  height: 273px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashJcLcWL8D7AQ2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information8 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon30 {
  width: 100%;
  height: 100%;
}
._433 {
  position: absolute;
  left: 1240px;
  top: 2595px;
  width: 400px;
  height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
  box-shadow: 4px 4px 5px 0px #00000040;
}
.niceDrink3 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 255px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying3 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group26 {
  position: absolute;
  left: 16px;
  top: 298px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon31 {
  width: 100%;
  height: 100%;
}
._434 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 116px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame59 {
  position: absolute;
  left: 327px;
  top: 252px;
  width: min-content;
  height: 28px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join9 {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unsplashJcLcWL8D7AQ3 {
  position: absolute;
  left: -9.1809px;
  top: -37px;
  width: 440.4597px;
  height: 273px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashJcLcWL8D7AQ3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information9 {
  position: absolute;
  left: 368px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.foodAndDrink {
  color: #1d4666;
  font-size: 32px;
  line-height: 22px;
  font-weight: bold;
  font-family: Arial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 288px;
  top: 493px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed {
  position: absolute;
  left: 280px;
  top: 533px;
  width: 1360px;
  height: 338px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
}
.unsplashQJ0zGkrE1Zg {
  position: absolute;
  left: 0;
  top: -98px;
  width: 1360px;
  height: 334px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashQJ0zGkrE1Zg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cupCake {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying4 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group27 {
  position: absolute;
  left: 126.0027px;
  top: 253.9998px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon33 {
  width: 100%;
  height: 100%;
}
._435 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 226.0027px;
  bottom: 64px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame510 {
  position: absolute;
  left: 1254px;
  top: 252px;
  width: 90px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join10 {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame6 {
  position: absolute;
  left: 1254px;
  top: 252px;
  width: 90px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join11 {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information10 {
  position: absolute;
  left: 1328px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.welcomeToOurCakeShopWeCreateFr {
  color: #000000e5;
  font-size: 15px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 286px;
  width: 1060.3369px;
  height: min-content;
  flex-direction: column;
}
._24 {
  position: absolute;
  left: 280px;
  top: 1371px;
  width: 1360px;
  height: 338px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
}
.unsplashQJ0zGkrE1Zg2 {
  position: absolute;
  left: 0;
  top: -98px;
  width: 1360px;
  height: 334px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashQJ0zGkrE1Zg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cupCake2 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying5 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group28 {
  position: absolute;
  left: 126.0027px;
  top: 253.9998px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon35 {
  width: 100%;
  height: 100%;
}
._436 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 226.0027px;
  bottom: 64px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame511 {
  position: absolute;
  left: 1254px;
  top: 252px;
  width: 90px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join12 {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information11 {
  position: absolute;
  left: 1328px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.welcomeToOurCakeShopWeCreateFr2 {
  color: #000000e5;
  font-size: 15px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 286px;
  width: 1170px;
  height: min-content;
  flex-direction: column;
}
._34 {
  position: absolute;
  left: 280px;
  top: 2209px;
  width: 1360px;
  height: 338px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fffc;
  overflow: hidden;
}
.unsplashQJ0zGkrE1Zg3 {
  position: absolute;
  left: 0;
  top: -98px;
  width: 1360px;
  height: 334px;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashQJ0zGkrE1Zg3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cupCake3 {
  color: #000;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._14ForBuying6 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  right: 16px;
  bottom: 11.9998px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group29 {
  position: absolute;
  left: 126.0027px;
  top: 253.9998px;
  width: 96px;
  height: 16.0001px;
  overflow: visible;
}
.icon37 {
  width: 100%;
  height: 100%;
}
._437 {
  color: #8a8a8e;
  font-size: 14px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 226.0027px;
  bottom: 64px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame512 {
  position: absolute;
  left: 1254px;
  top: 252px;
  width: 90px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
}
.join13 {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.information12 {
  position: absolute;
  left: 1328px;
  top: 8px;
  width: 24px;
  height: 24px;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.welcomeToOurCakeShopWeCreateFr3 {
  color: #000000e5;
  font-size: 15px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 286px;
  width: 1170px;
  height: min-content;
  flex-direction: column;
}
.foodAndDrink2 {
  color: #1d4666;
  font-size: 32px;
  line-height: 22px;
  font-weight: bold;
  font-family: Arial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 288px;
  top: 1333px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.seeMore {
  color: #5f5f5f;
  font-size: 24px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 1465px;
  top: 1336px;
  width: 135px;
  height: 22px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.arrowRightDropCircle {
  position: absolute;
  left: 1608px;
  top: 1335px;
  width: 24px;
  height: 24px;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.foodAndDrink3 {
  color: #1d4666;
  font-size: 32px;
  line-height: 22px;
  font-weight: bold;
  font-family: Arial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 288px;
  top: 2169px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.seeMore2 {
  color: #5f5f5f;
  font-size: 24px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 1465px;
  top: 2172px;
  width: 135px;
  height: 22px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.arrowRightDropCircle2 {
  position: absolute;
  left: 1608px;
  top: 2171px;
  width: 24px;
  height: 24px;
}
.icon40 {
  width: 100%;
  height: 100%;
}
.seeMore3 {
  color: #5f5f5f;
  font-size: 24px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 1465px;
  top: 496px;
  width: 135px;
  height: 22px;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.unnamed2 {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
  filter: drop-shadow(4px 4px 7.099999904632568px #00000040);
}
.icon41 {
  width: 100%;
  height: 100%;
}
.unnamed3 {
  position: absolute;
  right: 24px;
  bottom: 108px;
  width: 60px;
  height: 60px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 131px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 4px 4px 7.1px 0px #00000040;
}
