.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 128px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.done {
  color: #009a33;
  font-size: 28px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: calc(50% - 30.5px);
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.vector {
  position: absolute;
  left: 58.5938%;
  right: 25.7813%;
  top: 18.75%;
  bottom: 18.75%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
