.root {
  position: absolute;
  width: 86px;
  height: 21px;
  flex-direction: column;  /* 移除了 left: 24px */
  align-items: flex-start;
  overflow: hidden;
}

.done {
  color: #009a33;
  font-size: 19px;
  line-height: 15px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 3px;           /* 與 fail 一致 */
  top: 3px;           /* 與 fail 一致 */
  white-space: nowrap; /* 添加了這個屬性以保持一致性 */
}

.vector {
  position: absolute;
  left: 58.5938%;
  right: 25.7813%;
  top: 18.75%;
  bottom: 18.75%;
  overflow: visible;
}

.icon {
  width: 100%;
  height: 100%;
}