.root {
  position: absolute;
  width: 86px;  /* 67% of 128px */
  height: 21px;  /* 67% of 32px */
  /* left: calc(50% - 603px/2);  與 line1 左邊緣對齊 */
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.notYet {
  color: #626262;
  font-size: 19px;  /* 67% of 28px */
  line-height: 15px;  /* 67% of 22px */
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 3px;  /* 67% of 5px */
  top: 3px;  /* 67% of 5px */
  white-space: nowrap;
}
.panoramaFisheye {
  position: absolute;
  left: 73px;  /* 67% of 109px */
  top: 45%;
  width: 16px;  /* 67% of 24px */
  height: 16px;  /* 67% of 24px */
  transform: translateY(-50%);
}
.icon {
  width: 100%;
  height: 100%;
}
