.root {
  position: absolute;
  left: 167.5px;
  top: 122px;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 12.5%;
  right: 12.4896%;
  top: 12.4896%;
  bottom: 12.5%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
