.root {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 230px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #0d99ff;
  overflow: hidden;
  box-shadow: 4px 4px 6px 0px #00000040;
}
.create {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-family: ABeeZee, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
