.root {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menuList {
  width: auto;
  max-width: 180px; /* 225px * 0.8 */
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.OrderItem {
  width: 100%; /* Change from 50% to 100% */
  max-width: 960px; /* 1200px * 0.8 */
  margin: 0 auto;
}
