.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: default;
  }

  .modal {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    width: 77%;
    max-width: 1480px;
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 810px; /* 設定最大高度 */
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: default;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .logo {
    position: relative;
    margin-top: 5%;
    width: 77%;
    max-width: 252px;
    height: 85%;
    max-height: 164px;
    margin-bottom: 60px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputField {
    width: 100%;
    max-width: 520px;
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 48px; /* 設定最大高度 */
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: 'ABeeZee', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 48px;
  }

  .passwordContainer {
    width: 77%;
    max-width: 520px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .eyeIcon {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .loginButton {
    width: 77%;
    max-width: 230px;
    height: 85%; /* 設定高度為視窗的 60% */
    max-height: 40px; /* 設定最大高度 */
    padding: 12px;
    font-size: 1rem;
    font-family: 'ABeeZee', sans-serif;
    background-color: #0D99FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .loginButton:hover {
    background-color: #0e80d1;
    ;
  }
